<div class="container text-center">
  <div class="display-6 my-2">Cadastro de Profissionais:</div>

  <div class="border rounded shadow-sm p-4">
    <form
      [formGroup]="professionalForm"
      id="formProfessional"
      #ngProfessionalForm="ngForm"
    >
      <div class="row">
        <div class="col-8 m-auto">
          <div class="mb-3" *ngIf="isEditing">
            <label for="id" class="form-label">Id:</label>
            <input
              type="text"
              class="form-control"
              formControlName="id"
              id="id"
              readonly
            />
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Nome: </label>
            <input
              type="name"
              class="form-control"
              formControlName="name"
              id="name"
              placeholder="Nome"
            />

            <div
              *ngIf="ngProfessionalForm.submitted"
              class="text-danger text-start"
            >
              <small *ngIf="pfName?.errors?.['required']"
                ><sup>*</sup>Nome obrigatório!</small
              >
              <small
                *ngIf="pfName?.errors?.['minlength']"
                class="form-text text-danger d-block"
                >*Tamanho mínimo de 3 caracteres!</small
              >
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Telefone: </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  id="phone"
                  placeholder="Telefone"
                />

                <div
                  *ngIf="ngProfessionalForm.submitted"
                  class="text-danger text-start"
                >
                  <small *ngIf="pfPhone?.errors?.['required']"
                    ><sup>*</sup>Telefone obrigatório!</small
                  >
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="#" class="form-label">Ativo:</label>

                <select
                  class="form-select"
                  aria-label="Selecione a atividade"
                  formControlName="active"
                  id="active"
                >
                  <option [ngValue]="true">Ativado</option>
                  <option [ngValue]="false">Desativado</option>
                </select>

                <div
                  *ngIf="ngProfessionalForm.submitted"
                  class="text-danger text-start"
                >
                  <small *ngIf="pfActive?.errors?.['required']"
                    ><sup>*</sup>Atividade é obrigatória!</small
                  >
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="#" class="form-label">Area:</label>

              <select
                class="form-select"
                aria-label="Selecione uma área"
                formControlName="areaId"
              >
                <option *ngFor="let area of areas" [ngValue]="area.id">
                  {{ area.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3 text-end">
            <button
              type="button"
              class="btn btn-danger me-1"
              (click)="cancel()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!professionalForm.dirty"
              (click)="save()"
            >
              Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
