<div class="container text-center">
  <div class="display-6 my-2">Cadastro de Clientes:</div>

  <div class="border rounded shadow sm p-4">
    <div class="text-end">
      <a href="/prototype/pages/client.html" class="btn btn-primary">Novo</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Data Nascimento</th>
          <th scope="col">Remover</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Filtrar pelo nome" aria-label="Username filter"
                [(ngModel)]="nameFilter" (keyup)="filterName()">
            </div>
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of clients">
          <th scope="row">{{client.id}}</th>
          <td><a href="/prototype/pages/client.html">{{client.name}}</a></td>
          <td>{{client.phone}}</td>
          <td>{{client.dateOfBirth}}</td>
          <td>
            <img src="assets/svg/trash3-fill.svg" width="20" height="20" alt="remove" (click)="remove(client)">
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>