<form [formGroup]="appointmentForm">
  <div class="mb-3">
    Escolha uma área:

    <select class="form-select" aria-label="Selecione uma área" formControlName="area" (change)="onAreaChange()">
      <option value="" selected>Selecione uma área</option>

      <option *ngFor="let area of areas" [ngValue]="area">{{area.name}}</option>
    </select>
  </div>

  <div class="mb-3">
    Escolha um profissional:

    <select class="form-select" aria-label="Selecione um profissional" formControlName="professional">
      <option value="" selected>Selecione um profissional</option>

      <option *ngFor="let professional of professionals" [ngValue]="professional">
        {{professional.name}}
      </option>
    </select>
  </div>

  <div class="mb-3">
    Selecione um tipo:

    <select class="form-select" aria-label="Tipo de atendimento" formControlName="appointmentType">
      <option value="" selected>Selecione o tipo de atendimento</option>

      <option *ngFor="let appointmentType of appointmentTypes" [ngValue]="appointmentType">
        {{appointmentType.type}}
      </option>
    </select>
  </div>

  <div class="mb-3">
    Crie ou digite o nome do cliente:

    <div class="input-group">
      <input class="form-control" type="text" value="" aria-label="input name">
    </div>

    <div class="text-start">
      <small>Confirme o telefone do cliente: (15) 99975-1539</small>
    </div>
  </div>

  <div class="mb-3">
    Comentários:

    <textarea class="form-control" id="floatingTextarea"></textarea>
  </div>
</form>