<div class="text-center mt-4">
  Horários Disponíveis:

  <div class="row" *ngFor="let row of [0, 1]">
    <div
      class="col time"
      *ngFor="let time of times.slice(row * 8, (row + 1) * 8)"
      [ngClass]="{
        'time-off': !time.available,
        'time-available': time.available,
        'time-selected': time.startTime == selectedTime.startTime,
      }"
      (click)="time.available && onSelectedTime(time)"
    >
      {{ time.startTime | time }}
    </div>
  </div>

  <div *ngIf="error" class="text-danger text-start">
    <small>{{ error }}</small>
  </div>
</div>
